<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.y.ye2k.mapper.BookInCaseMapper">

    <select id="findBooksByType" resultType="BookInCase">
      select * from tab_bookcase where type = #{type}
   </select>

    <insert id="addChapterToBook">
        insert into tab_bookCaseChapter(
        chapterName,bid,createTime)
          values
        (#{chapterName},#{bid},#{createTime})
    </insert>

    <select id="showChapter" resultType="BookCaseChapter">
      select * from tab_bookcasechapter where bid = #{bid}
   </select>

    <select id="countSection" resultType="Integer">
      select count(*) from tab_bookcasesection where cid = #{cid}
   </select>

    <select id="showSection" resultType="BookCaseSection">
      select * from tab_bookcasesection where cid = #{cid}
   </select>

    <select id="findMdUrlBySid" resultType="String">
      select mdurl from tab_bookcasesection where sid = #{sid}
   </select>

    <insert id="addSection">
        insert into tab_bookcasesection(
        sectionName,cid,mdurl,createTime)
          values
        (#{sectionName},#{cid},#{mdurl},#{createTime})
    </insert>

</mapper>